[Desktop Entry]
Name=FlowtoysUpdater
Exec=FlowtoysUpdater
Icon=flowtoysupdater
Type=Application
Categories=AudioVideo;Art;
Comment=Firmware Updater for Flowtoys Props
Name[en]=FlowtoysUpdater
Terminal=false
StartupNotify=true
NoDisplay=false
Name[en_US]=flowtoysupdater.desktop
